USE [MySushi]
GO
/****** Object:  Table [dbo].[Information]    Script Date: 08/02/2020 23:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Information](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[address] [nvarchar](1050) NULL,
	[tel] [nvarchar](50) NULL,
	[email] [nvarchar](500) NULL,
	[openingHours] [nvarchar](500) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Menu]    Script Date: 08/02/2020 23:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Menu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[price] [nvarchar](max) NULL,
	[shortDes] [nvarchar](max) NULL,
	[detailDes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Menu] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Share]    Script Date: 08/02/2020 23:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Share](
	[Icon] [nvarchar](max) NULL,
	[SocialNetwork] [nvarchar](max) NULL,
	[URL] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Sushi]    Script Date: 08/02/2020 23:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sushi](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[name] [nvarchar](max) NULL,
	[image] [nvarchar](max) NULL,
	[shortDes] [nvarchar](max) NULL,
	[detailDes] [nvarchar](max) NULL,
	[price] [nvarchar](max) NULL,
 CONSTRAINT [PK_Sushi] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Information] ON 

INSERT [dbo].[Information] ([id], [address], [tel], [email], [openingHours]) VALUES (1, N'The Sushi Restaurant<br/>New York, NY, USA', N'0969563145', N'sputniksweetheart@gmail.com', N'Monday Closed<br/>Tuesday 12 - 22<br/>Wednesday 12 - 22<br/>Thursday 12 - 22<br/>Friday 11 - 23<br/>Saturday 11 - 23<br/>Sunday 11 - 22')
SET IDENTITY_INSERT [dbo].[Information] OFF
SET IDENTITY_INSERT [dbo].[Menu] ON 

INSERT [dbo].[Menu] ([id], [name], [price], [shortDes], [detailDes]) VALUES (2, N'Menu 1', N'15.00', N'Claritas est etiam processus', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.')
INSERT [dbo].[Menu] ([id], [name], [price], [shortDes], [detailDes]) VALUES (4, N'Menu 2', N'20.00', N'Duis autem vel eum iriure dolor.', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.')
INSERT [dbo].[Menu] ([id], [name], [price], [shortDes], [detailDes]) VALUES (5, N'Menu 2', N'25.00', N'Eodem modo typi, qui nunc nobis videntur.', N'Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.')
SET IDENTITY_INSERT [dbo].[Menu] OFF
INSERT [dbo].[Share] ([Icon], [SocialNetwork], [URL]) VALUES (N'fb.png', N'Facebook', N'https://www.facebook.com/')
INSERT [dbo].[Share] ([Icon], [SocialNetwork], [URL]) VALUES (N'tw.png', N'Twitter', N'https://twitter.com/')
INSERT [dbo].[Share] ([Icon], [SocialNetwork], [URL]) VALUES (N'gg.png', N'Google+', N'https://www.google.com.vn/')
SET IDENTITY_INSERT [dbo].[Sushi] ON 

SET IDENTITY_INSERT [dbo].[Sushi] OFF
